<section id="contact" >
  <div class="container">
    <div class="row">
      <div class="col-md-5 wow animated fadeInRight">
        <address class="contact-details">
          <h3>Contact Me</h3>
          <p><i class="fa fa-user-circle-o"></i> Brady Gillies<span></span> <span>Cuba St, Wellington </span><span>New Zealand</span></p><br>
          <p><i class="fa fa-phone"></i> 027 466 7607 </p>
          <p><i class="fa fa-envelope"></i> bradymat@gmail.com </p>
        </address>
      </div>

    </div>
  </div>
</section>
<!-- <section id="google-map"><br />
  <div id="map-canvas" class="wow animated fadeInUp"></div>
</section> -->
