<div id="body">
  <div id="preloader">
          <div class="loder-box">
            <div class="battery"></div>
          </div>
  </div>
  <header id="navigation" class="navbar-inverse navbar-fixed-top animated-header">
    <div class="container">

      <div class="navbar-header">

        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <h1 class="navbar-brand">
          <a href="#body">bradymat</a>
        </h1>
      </div>

      <nav class="collapse navbar-collapse navbar-right" role="navigation">
          <ul id="nav" class="nav navbar-nav">
              <li><a href="#body">Home</a></li>
              <li><a href="#skills">Skills</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#portfolio">Experience</a></li>
              <li><a href="#contact">Contact</a></li>
          </ul>
      </nav>

    </div>
  </header>
</div>
