
			<section id="portfolio">
				<div class="container">
					<div class="row">

						<div class="sec-title text-center wow animated fadeInDown"><br />
							<h2>Experience</h2>
							<p>The best places I've been... so far</p>
						</div>


						<ul class="project-wrapper wow animated fadeInUp">
							<li class="portfolio-item">
								<img src="img/portfolio/GoldCoast.jpg" class="img-responsive" alt="Gold Coast over looking the famous Q1 building">
								<figcaption class="mask">
									<h3>Gold Coast - Australia</h3>
									<p>Gold Coast</p>
								</figcaption>
								<ul class="external">
									<li><a class="fancybox" title="Gold Coast - Australia" data-fancybox-group="works" href="img/portfolio/GoldCoast.jpg"><i class="fa fa-plus"></i></a></li>
									<!-- <li><a href=""><i class="fa fa-link"></i></a></li> -->
								</ul>
							</li>

							<li class="portfolio-item">
								<img src="img/portfolio/KauaiHawaii.jpg" class="img-responsive" alt="Hanalei Bay in the small island of Kauai, it is known as the island of beauty on Hawaii">
								<figcaption class="mask">
									<h3>Kauai - Hawaii</h3>
									<p>Hanalei Bay</p>
								</figcaption>
								<ul class="external">
									<li><a class="fancybox" title="Kauai - Hawaii" href="img/portfolio/KauaiHawaii.jpg" data-fancybox-group="works" ><i class="fa fa-plus"></i></a></li>
									<!-- <li><a href=""><i class="fa fa-link"></i></a></li> -->
								</ul>
							</li>

							<li class="portfolio-item">
								<img src="img/portfolio/KutaBali.jpg" class="img-responsive" alt="Kuta beach, the bustling center of Indonesias most popular tourist island, Bali">
								<figcaption class="mask">
									<h3>Kuta - Bali</h3>
									<p>Kuta beach</p>
								</figcaption>
								<ul class="external">
									<li><a class="fancybox" title="Kuta - Bali" data-fancybox-group="works" href="img/portfolio/KutaBali.jpg"><i class="fa fa-plus"></i></a></li>
									<!-- <li><a href=""><i class="fa fa-link"></i></a></li> -->
								</ul>
							</li>

							<li class="portfolio-item">
								<img src="img/portfolio/LasVegas.jpg" class="img-responsive" alt="Las Vegas is known for its extravagently themed hotels and casinos, Paris Paris was my favourite of them all">
								<figcaption class="mask">
									<h3>Las Vegas - USA</h3>
									<p>Paris themed hotel in Las Vegas</p>
								</figcaption>
								<ul class="external">
									<li><a class="fancybox" title="Las Vegas - USA" data-fancybox-group="works" href="img/portfolio/LasVegas.jpg"><i class="fa fa-plus"></i></a></li>
									<!-- <li><a href=""><i class="fa fa-link"></i></a></li> -->
								</ul>
							</li>

							<li class="portfolio-item">
								<img src="img/portfolio/NewZealand.jpg" class="img-responsive" alt="Spectacular view of the Sourthern Alpine range">
								<figcaption class="mask">
									<h3>Otago - New Zealand</h3>
									<p>Southern Alps</p>
								</figcaption>
								<ul class="external">
									<li><a class="fancybox" title="Otago - New Zealand" data-fancybox-group="works" href="img/portfolio/NewZealand.jpg"><i class="fa fa-plus"></i></a></li>
									<!-- <li><a href=""><i class="fa fa-link"></i></a></li> -->
								</ul>
							</li>

							<li class="portfolio-item">
								<img src="img/portfolio/SanFrancisco.jpg" class="img-responsive" alt="Over looking the city skyline from the Golden Gate Bridge">
								<figcaption class="mask">
									<h3>San Francisco - USA</h3>
									<p>Golden Gate Bridge</p>
								</figcaption>
								<ul class="external">
									<li><a class="fancybox" title="San Francisco - USA" data-fancybox-group="works" href="img/portfolio/SanFrancisco.jpg"><i class="fa fa-plus"></i></a></li>
									<!-- <li><a href=""><i class="fa fa-link"></i></a></li> -->
								</ul>
							</li>
						</ul>
					</div>
				</div>
			</section>
