
			<section id="portfolio">
				<div class="container">
					<div class="row">

						<div class="sec-title text-center wow animated fadeInDown"><br />
							<h2>Experience</h2>
							<p>The best places I've been... so far</p>
						</div>


						<ul class="project-wrapper wow animated fadeInUp">
							<li class="portfolio-item">
								<img src="img/portfolio/sydney.jpg" class="img-responsive" alt="The Sydney Opera House is a multi-venue performing arts centre in Sydney, Australia. It is one of the 20th century's most famous and distinctive buildings.">
								<figcaption class="mask">
									<h3>Sydney - Australia</h3>
									<p>Opera House</p>
								</figcaption>
								<ul class="external">
									<li><a class="fancybox" title="Opera House - Sydney" data-fancybox-group="works" href="img/portfolio/sydney.jpg"><i class="fa fa-plus"></i></a></li>
									<!-- <li><a href=""><i class="fa fa-link"></i></a></li> -->
								</ul>
							</li>

							<li class="portfolio-item">
								<img src="img/portfolio/Singapure.jpg" class="img-responsive" alt="Marina Bay is a bay located in the Central Area of Singapore surrounded by the perimeter of four other planning areas, the Downtown Core, Marina East, Marina South and Straits View. The area surrounding the bay itself, also called Marina Bay, is a 360 hectare extension to the adjacent Central Business District.">
								<figcaption class="mask">
									<h3>Singapore</h3>
									<p>Marina Bay</p>
								</figcaption>
								<ul class="external">
									<li><a class="fancybox" title="Marina Bay - Singapore" href="img/portfolio/Singapure.jpg" data-fancybox-group="works" ><i class="fa fa-plus"></i></a></li>
									<!-- <li><a href=""><i class="fa fa-link"></i></a></li> -->
								</ul>
							</li>

							<li class="portfolio-item">
								<img src="img/portfolio/amsterdam.jpg" class="img-responsive" alt="From December until the end of January Amsterdam lights up for the annual Amsterdam Light Festival. Over 35 artworks from international artists, designers and architects find their way to the city of Amsterdam. The artworks are located alongside two different exhibition routes; Water Colors, the boat route and Illuminade the walking route.">
								<figcaption class="mask">
									<h3>Amsterdam - Holland</h3>
									<p>Amsterdam Light Festival </p>
								</figcaption>
								<ul class="external">
									<li><a class="fancybox" title="Winter Light Festival - Amsterdam" data-fancybox-group="works" href="img/portfolio/amsterdam.jpg"><i class="fa fa-plus"></i></a></li>
									<!-- <li><a href=""><i class="fa fa-link"></i></a></li> -->
								</ul>
							</li>

							<li class="portfolio-item">
								<img src="img/portfolio/penang2.jpg" class="img-responsive" alt="George Town, the capital city of the Malaysian state of Penang, is situated at the north-eastern tip of Penang Island. Its urban population is estimated at 708,000, while the Greater Penang conurbation has a population of 2.5 million, making George Town and Greater Penang the second largest city and the second most populated metropolitan area in Malaysia respectively. One of the oldest cities in Malaysia, George Town was inscribed as a UNESCO World Heritage Site along with Malacca City in 2008.">
								<figcaption class="mask">
									<h3>Penang - Malasya</h3>
									<p>George Town</p>
								</figcaption>
								<ul class="external">
									<li><a class="fancybox" title="George Town" data-fancybox-group="works" href="img/portfolio/penang2.jpg"><i class="fa fa-plus"></i></a></li>
									<!-- <li><a href=""><i class="fa fa-link"></i></a></li> -->
								</ul>
							</li>

							<li class="portfolio-item">
								<img src="img/portfolio/mexico.jpg" class="img-responsive" alt="Commissioned by President Porfirio Diaz to replace the previous National Theater that was demolished in 1901, Italian architect Adamo Boari began the project in 1904. The original plan was to finish the construction in time to celebrate the centenary of Mexican Independence in 1910, however work on the building was stalled initially due to construction issues and then the outbreak of the Mexican Revolution. At the end of the Revolution, Mexican architect, Francisco Mariscal, continued the project, and the landmark was finally inaugurated in 1934. ">
								<figcaption class="mask">
									<h3>Mexico City - Mexico</h3>
									<p>Palacio De Bellas Artes </p>
								</figcaption>
								<ul class="external">
									<li><a class="fancybox" title="Palacio De Bellas Artes" data-fancybox-group="works" href="img/portfolio/mexico.jpg"><i class="fa fa-plus"></i></a></li>
									<!-- <li><a href=""><i class="fa fa-link"></i></a></li> -->
								</ul>
							</li>

							<li class="portfolio-item">
								<img src="img/portfolio/london.jpg" class="img-responsive" alt="Buckingham Palace is the London residence and administrative headquarters of the reigning monarch of the United Kingdom. Located in the City of Westminster, the palace is often at the centre of state occasions and royal hospitality. It has been a focal point for the British people at times of national rejoicing and mourning. ">
								<figcaption class="mask">
									<h3>London - England</h3>
									<p>Buckingham Palace</p>
								</figcaption>
								<ul class="external">
									<li><a class="fancybox" title="Buckingham Palace" data-fancybox-group="works" href="img/portfolio/london.jpg"><i class="fa fa-plus"></i></a></li>
									<!-- <li><a href=""><i class="fa fa-link"></i></a></li> -->
								</ul>
							</li>
						</ul>
					</div>
				</div>
			</section>
