<section id="skills">
  <div class="container">
    <div class="row">

      <div class="sec-title text-center"><br />
        <h2 class="wow animated fadeInDown">Skills</h2>
      </div>

      <div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn" data-wow-delay="0.1s">
        <div class="service-item">
          <div class="service-icon">
            <i class="fa fa-code fa-3x"></i>
          </div>
          <h3>JavaScript</h3>
          <p>Angular and React frameworks</p>
        </div>
      </div>

      <div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn" data-wow-delay="0.2s">
        <div class="service-item">
          <div class="service-icon">
            <i class="fa fa-html5 fa-3x"></i>
          </div>
          <h3>HTML & CSS</h3>
          <p>Markup and Style</p>
        </div>
      </div>

      <div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn" data-wow-delay="0.3s">
        <div class="service-item">
          <div class="service-icon">
            <i class="fa fa-server fa-3x"></i>
          </div>
          <h3>Back End</h3>
          <p>Express, Mongo, Postgres</p>
        </div>
      </div>

      <div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn" data-wow-delay="0.4s">
        <div class="service-item">
          <div class="service-icon">
            <i class="fa fa-heart fa-3x"></i>
          </div>

          <h3>Harmony</h3>
          <p>Caring harmonious team member</p>
        </div>
      </div>

    </div>
  </div>
</section>
