<section id="testimonials" class="parallax">
  <div class="overlay">
    <div class="container">
      <div class="row">

        <div class="sec-title text-center white wow animated fadeInDown">
          <h2>What people say about me</h2>
        </div>

        <div id="testimonial" class=" wow animated fadeInUp">
          <div class="testimonial-item text-center">
            <img src="img/LisaBrand.jpg" alt="References">
            <div class="clearfix">
              <span>Lisa Brand - Head Of Hall - Katharine Jermyn Hall</span>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
              <p><i class="fa fa-phone"></i> 027 466 9080</p>
              <p><i class="fa fa-envelope"></i> lemon@gmail.com</p>
            </div>
          </div>
          <div class="testimonial-item text-center">
            <img src="img/GregKotze.jpg" alt="References">
            <div class="clearfix">
              <span>Greg Kotze - Head Chef - Compass Group</span>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
              <p><p><i class="fa fa-phone"></i> 021 338 6798</p>
              <p><i class="fa fa-envelope"></i> lemon@gmail.com</p>
            </div>
          </div>
          <div class="testimonial-item text-center">
            <img src="img/CassieBlount.jpg" alt="References">
            <div class="clearfix">
              <span>Cassie Blount - General Manager - The Black Swan</span>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
              <p><p><i class="fa fa-phone"></i> 027 455 6777</p>
              <p><i class="fa fa-envelope"></i> lemon@gmail.com</p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
