<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
<main>
  <% include ../partials/nav.ejs %>

  <% include ../partials/slider.ejs %>

  <% include ../partials/skills.ejs %>

  <% include ../partials/about.ejs %>

  <% include ../partials/portfolio.ejs %>

  <% include ../partials/testimonials.ejs %>

  <% include ../partials/contact.ejs %>

  <% include ../partials/footer.ejs %>
</main>
</body>
</html>
